
<button id="authors">Load Authors</button>

<%= button_to 'New Author', new_author_path, method: :get %>

<button id="clear">Clear</button>

<div class='placeholders' id='authors-data'></div>

<div class='placeholders' id='new-author-data'></div>
