
<button id="authors">Load Authors</button>

<button id="newAuthor">Create a New Author</button>

<button id="clear">Clear</button>

<div id='authors-data'></div>

<div id='author-data'></div>

<div id='books-data'></div>

<div id='new-author-data'></div>
