
<button id="authors">Load Authors</button>

<button id="newAuthor">Create a New Author</button>

<button id="clear">Clear</button>

<div class='placeholders' id='authors-data'>authors</div>

<div class='placeholders' id='author-data'>author</div>

<div class='placeholders' id='books-data'>books</div>

<div class='placeholders' id='new-author-data'>new author</div>
