
<button id="authors">Load Authors</button>

<button id="newAuthor">Create a New Author</button>

<button id="clear">Clear</button>

<div class='placeholders' id='authors-data'></div>

<div class='placeholders' id='author-data'></div>

<div class='placeholders' id='books-data'></div>

<div class='placeholders' id='new-author-data'></div>
