<%= link_to 'Edit Author', edit_author_path(@author) %><br>
<%= link_to 'Add New Book By This Author', new_author_book_path(@author) %><br>
<button id="author">Load Author</button><br>
<div class='placeholders' id='author-data'></div><br>
<button id="clear">Clear</button><br>
