@import 'bootstrap';

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  font-family: "Georgia";
  transform: translate(-50%, -50%);
}
